---
import { generateSrcset } from "~/utils/images";
import type { IKImage } from "~/types/api";

const { gallery: selectedGallery } = Astro.params; // grab gallery string from url

const key = import.meta.env.IK_PRIVATE_KEY || "";
// fetch imagekit photos from portfolio folder
const res = await fetch(`https://api.imagekit.io/v1/files?path=portfolio/${selectedGallery}`, {
  method: "GET",
  headers: {
    Authorization: `Basic ${btoa(key + ":")}`,
    "Content-Type": "application/json",
  },
});
const data: IKImage[] = await res.json();
data.sort((a, b) => Date.parse(b.createdAt) - Date.parse(a.createdAt)); // sort by date created descending

const mConfig = {
  numCols: 4,
  columnGap: 16,
  containerPadding: 32,
  columnSize: 280,
};

let sizes = "";
let maxImageWidth = mConfig.columnSize;
let srcsetSizes: number[] = [maxImageWidth];

/*
calculating big brain srcset sizes
max-width: 32 + 280 + (16 + 280) * {col_num - 1} - 1
image-width: {max_width - 32 - 16 * {col_num - 2}} / {col_num - 1}
viewport-width: {{image-width} / {max_width}} * 100
*/
for (let i = 2; i < mConfig.numCols + 2; ++i) {
  const maxWidth =
    mConfig.containerPadding +
    mConfig.columnSize +
    (mConfig.columnGap + mConfig.columnSize) * (i - 1) -
    1;
  const imageWidth = Math.ceil(
    (maxWidth - mConfig.containerPadding - mConfig.columnGap * (i - 2)) / (i - 1)
  );
  maxImageWidth = Math.max(imageWidth, maxImageWidth);
  const viewportWidth = Math.ceil((imageWidth / maxWidth) * 100);

  if (i == mConfig.numCols + 1) {
    // is last
    sizes += `${viewportWidth}vw`;
  } else {
    sizes += `(max-width:${maxWidth}px) ${viewportWidth}vw, `;
  }
}

// generate different srcset sizes
for (let i = 1.0; i < 3.5; i += 0.5) {
  srcsetSizes.push(Math.ceil(maxImageWidth * i));
}
---

<div class="grid max-w-screen-2xl m-auto" transition:animate="fade">
  {
    data?.map((photo) => {
      return (
        <div class="grid-item">
          <div class="bg-light-secondary slidein-intersect">
            <img
              class="lazyload blurred"
              src={`${photo.url}?tr=w-${mConfig.columnSize},q-30`}
              data-sizes={sizes}
              data-srcset={generateSrcset(srcsetSizes, photo.url)}
              alt={photo.name}
              width={photo.width}
              height={photo.height}
            />
          </div>
        </div>
      );
    })
  }
</div>
<style>
  /* ---- old masonry layout ----
  TODO: use this on no javascript enabled */
  .masonry-with-columns {
    columns: 4 240px;
    column-gap: 1rem;
    padding: 0rem 1rem;
  }
  .masonry-with-columns > div {
    display: inline-block;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  /* ----------------------------- */

  .grid {
    width: 100%;
    position: relative;
  }
  .grid-item {
    position: absolute;
  }
</style>
<script>
  import "lazysizes";
  import MiniMasonry, { type MiniMasonryOptions } from "minimasonry";

  // create masonry layout
  let masonryOptions: MiniMasonryOptions = {
    container: ".grid",
    baseWidth: 280,
    gutter: 16,
    ultimateGutter: 16,
  };
  var masonry = new MiniMasonry(masonryOptions);
  masonry.layout();

  document.addEventListener("astro:after-swap", () => {
    console.log("BEFORE");
    masonry.destroy();
  });
  document.addEventListener("astro:after-swap", () => {
    console.log("AFTER");
    masonry = new MiniMasonry(masonryOptions);
    masonry.layout();
  });
</script>
